/*1º procedimento de responsividade: Para fazer as margens surmirem*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* root serve para declarar as variáveis para guardar cores, isso facilita a colocação das cores*/

:root{
    --cor0: #000000;
    --cor1: #ffffff;
    --cor2: #02005c;
    --cor3: #724a76;
    --cor4: #808080;
    --cor5: #e02626;
    --cor6: #ffc715;
    --cor7: #00a6eb;
}

body{
   /* Ao usar var() chamamos a cor pela variável criada em root */
   background-color: var(--cor0);
   color: var(--cor1);
   font-family: 'Times New Roman', Times, serif;
   

}

.cover{
    position: relative;
    height: 50vh;
    width: 100%;
    overflow: hidden;
}

.cover-bg{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.cover-bg.active{
    opacity:1;
}

.bg-all{
    background: radial-gradient(circle at 0% 0%, #000000,#02005c,#000000,#724a76);
}

.bg-movie{
    background: radial-gradient(circle at 0% 0%, #000000,#02005c,#000000,#02005c);
}

.bg-serie{
    background: radial-gradient(circle at 0% 0%, #000000,#724a76,#000000,#724a76);
}

.cover::after {
    content:'';
    position: absolute;
    bottom: 0; /*alinha o início do gradiente ao final da imagem*/

    left:0;
    width: 100%;
    height: 80%; /*Define que o esfumado ocupe metado da imagem*/

    /*Faz o degradê do transparente para o seu azul escuro*/
    background: linear-gradient(to bottom, transparent,black);
}

.menu{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

button{
    padding:12px 25px;
    border-radius: 25px;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
}


button:hover{
    background-color: #808080;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.item{
    width: 100%;
    max-width: 320px;
}

.item img{
    width: 100%;
    padding: 20px 20px 20px 20px;
    border-radius: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item img:hover{
    transform: scale(1.08);
}

/*Harry Potter Style*/

.img-harry-potter-name{
    position: absolute;
    bottom: 2%;/*Ajusta a altura*/
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    
    display: flex;
    justify-content: center;
    filter: drop-shadow(60px 60px 55px rgba(0,0,0,0.5));/*filter: drop-shadow(horizontal vertical blur color)*/
}

.paragraph-harry{
    font-size: 20px;
    text-align: center;
    
}

.img-harry-potter-movies{
    display: grid; /*Os elementos são organizados em linhas e colunas*/

    grid-template-columns: repeat(3,1fr);/*Cria (3,..) colunas, cada coluna ocupa uma fração do espaço disponível, ficando do mesmo tamanho */

    gap: 100px; /*cria espaço entre os elementos (horizontal e vertical)*/ 

    max-width: 1200px; /*Define a largura máxima*/

    margin: 70px auto;
}

.img-harry-potter-movies img{
    width: 100%;
    height: auto;
    border-radius: 50px;
}

/*Friends Style*/

@font-face {
    font-family: 'FriendsFont';
    src: url('../css/fonts/GABRWFFR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.friends_title {
    color: #ffff;
    font-family: 'FriendsFont', sans-serif;
    text-align: center;

    line-height: 1.8; /*Aumenta o espaço entre a linha de cima e a de baixo*/

    letter-spacing: 20px; /*Espaço entre letras e bolinhas*/

    padding-left: 8px; /*Garante que o texto fique centralizado mesmo com o espaço extra no final*/

    word-spacing: 30px; /*Aumenta o espaço toda vez que der "espaço" no teclado*/
}

.dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 10px; /*O primeiro número é cima/baixo, o segundo é esquerda/direita*/
    vertical-align: middle;
    position: relative;
    top: -2px; /*Ajuste aqui para subir ou descer a bolinha se necessário*/
}

.red{background-color: #e02626;}
.yellow{background-color: #ffc715;}
.blue{background-color: #00a6eb;}

.season-btn{
    background-color: transparent !important;
    border: none !important;
    color: white;
    text-align: left;
    position: relative;
    padding-left: 15px; /* Espaço para a barra */
    width: 100%;
    margin-left: 20px;
}

.season-btn::before {
    content: "";
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: #94549b;
    opacity: 0;
    transition: 0.3s;
}

.btn-check:checked + .season-btn::before{
    opacity: 1;
}


/*Harry Potter and Friends Style*/

.img{
    height: auto;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: top;
}

.hero {
    position: relative;
    width:100%;
    line-height: 0;
}


.hero::after {
    content:'';
    position: absolute;
    bottom: 0; /*alinha o início do gradiente ao final da imagem*/

    left:0;
    width: 100%;
    height: 80%; /*Define que o esfumado ocupe metado da imagem*/

    /*Faz o degradê do transparente para o seu azul escuro*/
    background: linear-gradient(to bottom, transparent,black);
    
}

/*Tablet*/

@media(max-width:900px){
    button{
        font-size: 30px;
    }

    .paragraph-harry{
        font-size: 40px;
    }

    .friends_title{
        font-size: 70px;
        letter-spacing: 20px;
    }

    .img-harry-potter-movies{
        grid-template-columns: repeat(2,fr);
        gap: 40px;
    }
}

/*Celular*/

@media (max-width:600px){
    button{
        font-size: 20px;
        padding: 10px 15px;
    }

    .friends_title{
        font-size: 20px;
        letter-spacing: 5px;
        word-spacing: 5px;
        line-height: 1.3;
    }

    .dot{
        width: 10px;
        height:10px;
        margin: 0 3px;
    }

    .paragraph-harry{
        font-size: 16px;
        padding: 20px;
        line-height:1.6;
    }

    .img-harry-potter-movies{
        grid-template-columns: 1fr;
    }
}